.chatWithAdmin{
  width: 80%;
  margin: 0;
  margin-left: 250px;
}
.chat-container {
  background-color: #1a202c;
  width: 80%;
  width: 1100px;
  margin: 0;
  padding: 1rem;
  border-radius: 8px;
}
.chat-container h2 {
  display: flex;
}
h2 {
  text-align: center;
}
.search-box {
  width: 1100px;
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.admin-chat-wrapper {
  display: flex;
  gap: 1rem;
}
.admin-container {
  flex: 1;
  background-color: #1f2937;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.chat-box-container {
  flex: 1;
  background-color: #1f2937;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h3 {
  margin-top: 0;
}
.admin-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: 0;
}
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 0;
}
.admin-avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.chat-box {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.chat-header {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  padding-bottom: 0.5rem;
}
.chat-messages {
  height: 300px;
  width: 1100px;
  overflow-y: auto;
  margin: 0;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5px solid #ccc;
}
.chat-input {
  display: block;
  gap: 0.5rem;
  flex: 1;
}
.chat-input input {
  width: 1110px;
  height: 50px;
  padding-left: 5px;
  padding-bottom: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}
.chat-input input::placeholder {
  font-size: 0.7rem;
  color: #888;
  text-align: left;
}
.chat-input button {
  margin-top: 10px;
  width: 50px;
  height: 30px;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.chat-input button:hover {
  background-color: #0078d7;
}