body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1a202c;
  color: #e3e4e6;
  overflow-x: hidden;
}

.main-page{
margin-left:400px;
margin-right: 110px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.overview h2 {
  color: #d1d5db;
  margin-right: 1100px;
}
.overview #map {
  flex: none;
  height: 300px;
  border: 15px solid #374151;
  border-radius: 5px;
}
.overview .stats {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.overview .stats div {
  flex: 1;
  padding: 50px;
  background: #1f2937;
  border-radius: 5px;
}
.charts {
  flex: 1;
  display: flex;
  gap: 20px;
}
.charts .chart-container {
  flex: 1;
  background: #1f2937;
  padding: 5px;
  border-radius: 5px;
}
.charts h3 {
  text-align: center;
  color: #ffffff;
}
.charts h5 {
  text-align: center;
  color: #5f5f61;
  margin-bottom: 10px;
}
.bar-chart {
  margin-top: 20px;
  background: #1f2937;
  padding: 20px;
  border-radius: 5px;
}